@model IEnumerable<UserManagement.Models.Products>

    <h2><strong>Coins</strong></h2>
<br />
<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SortBy
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Name</a>
        <a class="dropdown-item" href="#">Price</a>
        <a class="dropdown-item" href="#">EndTime</a>
    </div>
</div>

<!--ProductDisplay Section-->
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        
    </div>
    <div class="row" style="">
        @foreach (var item in Model)
        {
<div class="col-md-4">
    <div class="card" style="height: 415px; margin-bottom: 10px">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center time">
                <i class="fa fa-clock-o"></i>
                <small class="ml-1">@Html.DisplayFor(modelItem => item.EndTime) Hours</small>
            </div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
        </div>
        <div class="text-center"> <img src="@("~/image/" + item.ProductName)" asp-append-version="true" width="250" height="230"> </div>
        <div class="text-center">
            <h5>@Html.DisplayFor(modelItem => item.ProductName)</h5>
            <span class="text-success">
                Starts from NRS. @Html.DisplayFor(modelItem => item.MinPrice)
            </span>
        </div>
        <br />
        <a class="btn btn-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductID"
           role="button">See details</a>
    </div>
</div>}
    </div>
    <br />
</div>


