@model UserManagement.Models.Products

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/master.js"></script>

    <!--Section: Block Content-->
    <section class="mb-5">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div id="mdb-lightbox-ui"></div>
                <div class="mdb-lightbox">
                  <div class="row product-gallery mx-1">
                        <div class="col-12 mb-0">
                            <figure class="view overlay rounded z-depth-1 main-img">
                                <a href="@Url.Content("~/image/"+ Model.ProductImageName)" 
                                   data-size="710x823">
                                    <img src="@Url.Content("~/image/"+ Model.ProductImageName)" asp-append-version="true"
                                         class="img-fluid z-depth-1" />
                                </a>
                            </figure>
                           
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="@Url.Content("~/image/"+Model.ProductImageName)"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="@Url.Content("~/image/"+Model.ProductImageName)"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="@Url.Content("~/image/"+Model.ProductImageName)"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="@Url.Content("~/image/"+Model.ProductImageName)"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <h5>@Html.DisplayFor(model => model.ProductName)</h5>
                <p class="mb-2 text-muted text-uppercase small">@Html.DisplayFor(model => model.Category)</p>
                 
                <div class="rating">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <br />
                <p><span class="mr-1">
                       <strong>
           NRS. @Html.DisplayFor(model => model.MinPrice) - NRS.@Html.DisplayFor(model => model.MaxPrice)
                           </strong></span></p>
                <p class="pt-1">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Ends in</strong></th>
                                <td>@Html.DisplayFor(model => model.EndTime) </td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Latest Bid</strong></th>
                                <td>@Html.DisplayFor(model => model.LatestBid)</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Latest Bidder</strong></th>
                                <td>@Html.DisplayFor(model => model.LatestBidder.UserName)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                   
                @if (SignInManager.IsSignedIn(User))
            {
                <!-- Bid Now Button -->
          
               <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bidModal">Bid Now</button>
    
        <div id="bidModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter Bid Amount</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="_Bid">
                      
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>
            </div> -->
            <a class="btn btn-info" asp-controller="Bids" asp-action="Bid" asp-route-id="@Model.ProductID"
               role="button">Bid Now</a>
   
            }
            else
            {
                 <ul>
                <li class="nav-item pl-1 " style="padding:10px;margin-left:15px;">
                    <a asp-area="Identity" asp-page="/Account/Login" style="color:#008000;font-size:15px;">
                         <i class="fa fa-unlock-alt" style="color:#008000"></i>
                        Login</a>
                </li>
                </ul>
            }
            <br />
          

            </div>
        </div>

    </section>
    <!--Section: Block Content-->


    <script type="text/javascript">
        $(document).ready(function () {
            // MDB Lightbox Init
            $(function () {
                $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            });
        });
    </script>

   
   
